/* reset */
* {
    margin: 0;
    padding: 0;
}
.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
a {
    color: #333;
    text-decoration: none;
}
li {
    list-style: none;
}
/* 레이아웃 */
#wrap {
    width: 1200px;
    margin: 0 auto;
}
/* header */
#side {
    width: 300px;
    float: left;
    text-align: center;
}
#side .logo {
    width: 100%;
    height: 150px;
    line-height: 150px;
    background: orange;
}
#side .nav {
    width: 100%;
    height: 700px;
    background: #b7a8d4;
}
#side .nav li {
    text-align: center;
    background: #b39ddb;
}
#side .nav li a {
    display: block;
    padding: 10px;
    color:#fff;
    background: rgba(0, 0, 0, 0.3);
}
#side .nav li a:hover {
    background: rgba(0, 0, 0, 0.4);
}
#side .nav li ul.submenu {
    display: none;
}

/* banner */
#banner {
    width: 900px;
    height: 450px;
    background: #222;
}

/* contents */
#content {
    width: 900px;
    height: 850px;
    background: #ddd;
    float: left;
}
#contents > div {
    float: left; 
    width: 33.33333%; 
    height: 300px;
}
#contents > div.cont1 {
    background: #666;
}
#contents > div.cont2 {
    background: #555;
}
#contents > div.cont3 {
    background: #444;
}

/* footer */
#footer {}

#footer .foot1 { 
    float: left; width: 200px; height: 100px;
    background: blue;
}
#footer .foot2 { 
    float: left; width: 700px; height: 50px;
    background: yellow;
}
#footer .foot3 { 
    float: left; width: 700px; height: 50px;
    background: green;
}
