
/* reset */
* {
    margin: 0;
    padding: 0;
}
.clearfix::before,
.clearfix::after {
    display: block; 
    content: ''; 
    clear: both;
}
a {
    color: #333;
    text-decoration: none;
}
li {
    list-style: none;
}

/* 레이아웃 */
#wrap {
    width: 1200px;
    background: #ccc;
    margin: 0 auto;
}
/* header */
#header {

}
#header .logo {
    float: left;
    width: 250px;
    height: 100px;
    background: #888;
}
#header .nav {
    float: right;
    width: 600px;
    margin-top: 28px;
    background: #b39ddb;
}
#header .nav li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
#header .nav li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
#header .nav li a:hover {
    background: rgba(0, 0, 0.4);
}
#header .nav li ul.submenu {
    position: absolute;
    left: 0;
    top: 44px;
    background: #b39ddb;
    display: none;
    z-index: 200;
}
#header .nav li ul.submenu li {
    width: 100%;
}

/* banner */
#banner {
    width: 1200px;
    height: 300px;
    text-align: center;
    overflow: hidden;
}

/* slider */
.slideList {
    width: 1200px;
    height: 300px;
    position: relative;
}
.slideList .slideImg {
    position: relative;
}
.slideList .slideImg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 30px;
    border-radius: 25px;
}
.slideList .slideImg img {
    display: block;
}
/* contents */
#contents {
    
}
#contents > div {
    float: left;
    width: 400px; 
    height: 200px;
}
#contents > div.cont1 {
    background: #555;
}
#contents > div.cont2 {
    background: #444;
}
#contents > div.cont3 {
    background: #333;
}

/* tab-menu */
.tab-menu {
    padding: 10px;
}
.tab-menu .tab-btn ul {
    overflow: hidden;
}
.tab-menu .tab-btn li {
    float: left;
    width: 160px;
    text-align: center;
    background: #9575cd;
}
.tab-menu .tab-btn li.active {
    text-decoration: underline;
}
.tab-menu .tab-btn li a {
    color: #fff;
    padding: 10px;
    display: block;
} 
.tab-menu .tab-cont {
    background: #512da8;
    text-align: left;
    padding: 20px;
    color: #fff;
}
/* footer */
#footer {
    
}
#footer .foot1 {
    float: left; 
    width: 200px; 
    height: 100px; 
    background: #222;
}
#footer .foot2 {
    float: left; 
    width: 800px; 
    height: 100px; 
    background: #777;
}
#footer .foot3 {
    float: left; 
    width: 200px; 
    height: 100px; 
    background: #666;
}
.layer {
    display: none;
    width: 500px;
    height: 500px;
    background: #fff;
    border: 2px solid #000;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -250px;
    margin-top: -250px;
    z-index: 1000;
}
.layer h2 {
    padding: 20px;
    color: #000;
}
.layer .close {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.layer-bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}